<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  To contact the developer you can use his <a href="https://www.facebook.com/batman/">Facebook page</a> or his <a href="https://twitter.com/batmanarkham">Twitter</a>.
</p>
