<h1>Application</h1>

<p>Hi <%= @user.name %>,</p>

<p>Welcome to the application! To activate your account use this link:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
